:root {
    --font: 'Verdana, Geneva, Tahoma, sans-serif';
	--cx: 0;
    --cy: 0;
}

@font-face {
	font-family: 'Inter';
	src: url('https://rsms.me/inter/inter.css');
}

@font-face {
	font-family: 'Noto Sans SC';
	src: url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,500,700');
}

@font-face {
	font-family: 'Noto Serif SC';
	src: url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:700');
}

p {
	font-family: 'Inter', 'Noto Sans SC', sans-serif;
	font-size: 16px;
}

h1, h2 {
	font-weight: bold;
}

h1 {
	font-family: 'Gentium Basic', 'Times New Roman', 'Georgia', 'Noto Serif SC', serif;
	font-size: 1.8rem;
}

h1.title {
	color: white;
	font-size: 2rem;
	background-color: #202020;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
	font-weight: 600;
}

body {
    color: #F0F0F0;
    background-color: hsl(0, 0%, 7%);
	font-size: 16px;
	margin: auto;
	width: 75%;
}